* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.synonym-finder {
  display: flex;
  width: 100vw;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding: 40px;
  width: 100vw;
}

.form label {
  text-align: left;
  width: 300px;
}

.form input {
  width: 300px;
  margin: 20px 0px;
  padding: 10px 15px;
}

.form button {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

li {
  list-style: decimal;
  text-transform: capitalize;
}